body             { background: #334; }

#page-wrap:after { content: "Smartphone_Layout"; }

h2 span, section h3 { display: none; }
body                { font-size: xx-large; }
footer, input       { font-size: large; }
footer a{ display: block;}
